/* Resetowanie domyślnych stylów przeglądarki */
body, h1, h2, h3, p, img, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Post styles */
.post-container {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
    margin-bottom: 15px;
}

.post-author, .post-localization {
    font-style: italic;
    font-size: 14px;
    color: #555;
}

.post-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* Buttons styles */
.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* Comments styles */
.comments-container {
    margin: 20px;
}

.comments-heading {
    font-size: 18px;
    margin-bottom: 10px;
}

.comment {
    font-size: 14px;
    margin-bottom: 10px;
}

.delete-link {
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

/* No content messages styles */
.no-posts, .no-comments {
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
